*{
    padding: 0;
    margin: 0;
}

body{
    background:linear-gradient(rgb(19, 24, 66), rgb(0, 0, 0));
    height: 100vh;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
section{
    background: url('images/stars1.png') ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul{
    align-items: center;
}
ul:hover li a{
    opacity: 0;
}
ul li{
    list-style: none;
    margin: 14px 0;

}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    background: darkblue;
    padding: 6px 40px;
    padding-right: 120px;
    border-radius: 30px;
    display: inline-block;
    width: 100px;
    transition: 0.5s;
    position: relative;
    z-index: 9000;
}
ul li a:hover{
    
    transform: scale(1.5);
    background: rgb(129, 7, 228);
    opacity: 1;
}
ul li:after{
    content: attr(data-text);
    color: white;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 900;
    opacity: 0;
    letter-spacing: 60px;
    pointer-events: none;
    transition: 0.9s;
    text-transform: uppercase;
}
ul li:hover:after{
    opacity: 0.5;
    letter-spacing: 5px;

}
ul li::before{
    content: " ";
    height: 250px;
    width: 250px;
    position: absolute;
    background:rgb(218, 188, 188);
    left:50%;
    top:52%;
    transform: translate(-50%, 70%);
    border-radius: 50%;
    box-shadow: 0 0 80px orangered;
    opacity: 0;
    transition: 0.9s;

}
ul li:hover::before{
    opacity: 1;
    width: 150px;
    height: 150px;
}
